<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul>
          <li><a href="{{ $.Site.BaseURL}}blog/index.xml" title="RSS Feed">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
            <span>subscribe</span></a></li>
          <li><a href="https://github.com/feminizidmap" rel="noopener noreferrer nofollow">github.com/feminizidmap</a></li>
          <li><a href="https://feminizidmap.org"  rel="noopener noreferrer nofollow">feminizidmap.org</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://www.bmbf.de/" rel="noopener noreferrer nofollow" target="_blank"><img src="/assets/bmbf-logo.svg" alt="BMBF"></a>
        <a href="https://prototypefund.de/" target="_blank"  rel="noopener noreferrer nofollow"><img src="/assets/logo-prototype.svg" alt="Prototype Fund"></a>
      </div>
    </div>
  </div>
</div>
