<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <ul>
          <li><a href="https://github.com/feminizidmap" rel="noopener noreferrer nofollow">Project repositories</a></li>
          <li><a href="https://feminizidmap.org">Main project site</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://www.bmbf.de/" rel="noopener noreferrer nofollow" target="_blank"><img src="/assets/bmbf-logo.svg" alt="BMBF"></a>
        <a href="https://prototypefund.de/" target="_blank"  rel="noopener noreferrer nofollow"><img src="/assets/logo-prototype.svg" alt="Prototype Fund"></a>
      </div>
    </div>
  </div>
</div>
